build/
.gradle/
.idea/
.DS_Store
z3/com.microsoft.z3.jar
z3/libz3java.dylib
z3/libz3java.so
out/
.metals/
.bloop/
.vscode/
.settings
.classpath
.project/
bin/
examples/*.class
examples/libs/*.jar
examples/libs/*.zip
examples/libs/*.dylib
examples/libs/*.so
examples/libs/*.dll
examples/libs/fortress
examples/libs/fortress.bat
target/
fortress-0.1.0/
.sbtopts
./build.sh
./debug-cli.sh
./examples/smt-resources/*.smt2
./examples/test/
